
body {
    font-family: sans-serif;
    background: grey;
    margin: 0;
    text-align: center;
}

#whole_page {
    width: 60em ;/*60em;*/
    margin: auto;
    padding: 0;
    text-align: left;
    border-width: 0 1px 1px 1px;
    border-color: white;
    border-style: solid;
}

#header {
    color: white;
    background: maroon; /* No "ruby" defined in HTML color names! */
    font-size: 24pt;
    padding: 0.25em;
    margin-bottom: 0;
}

#banner{
	text-align : center;
	background : white ;
}

#error_message {
	color: green ;
	background : white ;
	margin:0px;
	line-height: 20px ;
	border-width: 0 0 0 0 ;
	text-align : center;
}

#nav {
    color: black; 
    font-size: 12pt;
    font-weight: bold;
    background: white;
    padding: 0.5em; 
	text-align: left;
	
}

#nav_user {
    color: black; 
    font-size: 8pt;
    /* 
     font-weight: bold; 
     padding: 0.5em; 
    */
    background: white;
	text-align: left;
	padding: 0px 5px 5px 5px;
	line-height : 13px ;
	/* padding-bottom: 1em;*/
}

#nav a, #nav a:visited {
    color: maroon;
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 2px dotted maroon;
}

#content {
	padding-top : 16px ;
    height: 100%;
    background: white;
    /*  padding: 1em; */
	margin: 0px;
	border-width: 0 0 0 0 ;
}


#content h1 {
    font-size: 18pt;
}


/* for survey_sheet edit*/
div.survey_guideline{
	font-size: 14pt;
	padding : 10px 10px 10px 15px ;
	t
}

div.qagrouping{
	font-size: 12pt;
	padding : 5px 10px 5px 15px ;
}

div.question{
	
}

div.rating{
	text-align : center;
}

div.ajaxful-rating-wrapper{
	text-align :center;	
}
div.answer_text{
	padding: 5px 10px 5px 10px ;
}

textarea.answer_text{
	float :none;
	
}

div.submit{
	padding : 5px 10px 5px 15px ;
}
input.submission{
	text-align : center;
	padding : 5px 10px 5px 15px ;
}


/* for all tables style */

/* 
 table td {background-color: white; }
table td.stripe {background-color: silver; }
 */

TR.even { background-color: #B1B1B1; }
TR.odd { background-color: #4AA02C ; }

thead.general {
	color :maroon;
	text-align: center;
}

table.listing {
	width:100%
}



/* link style*/




