
body {
    font-family: sans-serif;
    background: grey;
    margin: 0;
    text-align: center;
}

#whole_page {
    width: 60em;
    margin: auto;
    padding: 0;
    text-align: left;
    border-width: 0 1px 1px 1px;
    border-color: black;
    border-style: solid;
}

#header {
    color: white;
    background: maroon; /* No "ruby" defined in HTML color names! */
    font-size: 24pt;
    padding: 0.25em;
    margin-bottom: 0;
}

#banner{
	text-align : center;
	background : white ;
}

#error_message {
	
	background : white ;	
}

#nav {
    color: black; 
    font-size: 12pt;
    font-weight: bold;
    background: white;
    padding: 0.5em; 
	text-align: left;
}

#nav a, #nav a:visited {
    color: maroon;
    text-decoration: none;
}

#nav a:hover {
    border-bottom: 2px dotted maroon;
}

#content {
    height: 100%;
    background: white;
    /*  padding: 1em; */
}


#content h1 {
    font-size: 18pt;
}


/* for survey_sheet edit*/
div.qagrouping{
	font-size: 12pt;
	padding : 5px 10px 5px 15px ;
}

div.question{
	
}

div.rating{
	text-align : center;
}

div.ajaxful-rating-wrapper{
	text-align :center;	
}
div.answer_text{
	padding: 5px 10px 5px 10px ;
}

textarea.answer_text{
	float :none;
	
}

div.submit{
	padding : 5px 10px 5px 15px ;
}
input.submission{
	text-align : center;
	padding : 5px 10px 5px 15px ;
}
