<p>
  <b>Number:</b>
  <%=h @section.number %>
</p>

<p>
  <b>Description:</b>
  <%=h @section.description %>
</p>

<%= link_to 'Edit', edit_survey_section_path([:survey, @section]) %> |
<%= link_to 'Back', survey_path %>
