
<div style="float: left; padding:5px 5px 5px 5px">
<p>
  <!--= image_tag thumbnail_path(photo), :alt => photo.name -->
  <br/>
  
  <%=lightbox_image_tag(thumbnail_path(photo), origin_path(photo), {:class=>"images"} ,:alt => photo.name) %>
</p>
 
 
 



<p>  	
<b>Name:</b>
  <%=h photo.name %>
</p>



<%= ratings_for photo ,  :show_user_rating => true %>
</div>