<h1>ZhangJiaJiePhotoContest#reloadphotos</h1>
<p>Find me in app/views/zhang_jia_jie_photo_contest/reloadphotos.html.erb</p>
Show some warning of updating risk.

<% @dirs.each do | dir | %>
	<%= dir%><br/>
<% end%>