<h1>ZhangJiaJiePhotoContest#reloadphotos</h1>


<p>
</p>

<p>
<% @group_dirs.each do | dir | %>
	<%= dir%><br/>
<% end%>
</p>

<p>
<% @files.each do | dir | %>
	<%= dir%><br/>
<% end%>
</p>


<p>
<% @images.each do | dir | %>
	<%= dir%><br/>
<% end%>
</p>


<p>
<% @images.each do | dir | %>
	<%= dir%><br/>
<% end%>
</p>