
<div>
	
<!--question-->	
<strong>Question:</strong><br/>
<%= question.description %><br />
<!--answer-->
<strong>Your Answer:</strong><br/>


<% if question.is_commentable %>
	<strong>You can comment the question/answer to share your opinions:</strong>
	<br /> TODO: define a text box binds to the questions. <br />
	
	
<% end %>

<hr />
</div>