

<!--%= error_messages_for :survey_sheet % -->
<% form_for @survey_sheet do | sheet_form | -%>
	<%= sheet_form.label  :title %>

	<p>
	Currently is filling in by : <%= sheet_form.label self.current_user || "No log in, bug! " %>
	</p>
	<div id="questions" >
		
	
	</div>
	<!--TODO, SUG: create useful links here-->
	<p>
	<%= f.submit "Submit" %>
	</p>
<% end -%>